<?xml version="1.0"?>
<configuration>
	
	<connectionStrings>
  <add name="USERMSTConnectionString" connectionString="Data Source=DESKTOP-2GHLSQ4;Initial Catalog=FOODSYSTEM;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="FOODSYSTEMConnectionString" connectionString="Data Source=DESKTOP-2GHLSQ4;Initial Catalog=FOODSYSTEM;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="FOODSYSTEMConnectionString2" connectionString="Data Source=DESKTOP-2GHLSQ4;Initial Catalog=FOODSYSTEM;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
	 <authentication mode="Forms">
		 <forms loginUrl="Default2.aspx" defaultUrl="Default3.aspx">
			 <credentials passwordFormat="Clear">
				 <user name="Priyanka" password="1234"/>
				 <user name="Jyoti" password="9874"/>
			 </credentials>
		 </forms>
	 </authentication>
	 
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
